<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1016613257909-g2ci4rbi54jkgomq61sv29lvaufpn732.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1016613257909-g2ci4rbi54jkgomq61sv29lvaufpn732</string>
	<key>API_KEY</key>
	<string>AIzaSyCbmZJPTlAiyFcU2H7zyvahZmgn1EJ2G7E</string>
	<key>GCM_SENDER_ID</key>
	<string>1016613257909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>deah.com.NinaSnapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-5fb6b</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-5fb6b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016613257909:ios:4446cb4340cae6903f74fc</string>
</dict>
</plist>